body {
    background-color: #CBF1F5;
    background-repeat: no-repeat;
    /*background-size: 100% 100%*/
}
#intro {   /* Abdelilah Dahdahi */
    color: #222831;
    font-size: 40px;
    font-family:'Lucida Sans';
    text-align: center;
}
#subIntro {  /* Computer Science student */
    color: #00ADB5;
    font-size: 22px;
    font-family: 'Garamond';
    text-align: center;
}
#contactMe {
    color: black;
}
#copyright {  /* © Abdelilah Dahdahi 2021 */
    color: black;
    text-align: center;
}

#education {  
    color: black;
}

#diploma {  
    color: black;
}

#veronatrento {
    color: black;
}

#skills {  
    color: black;
}

#foreignlanguages {  
    color: black;
}

#table {
    color:black;
}
.titles {
    color: #71C9CE;
}
